@import url("/css/hero.css");
@import url("/css/scan.css");
@import url("/css/upload-file.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black);
}

:root {
  --white: #fff;
  --black: #333;
  --beige: #c9bdab;
  --beige-light: #e2dcd3;
  --beige-dark: #5c492e;
}

body {
  overflow-x: hidden;
  background-color: #333;
  max-width: 992px;
  margin: 0 auto;
}

.labels__item {
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--beige-dark);
}

#scan-webcam__content__results__labels,
#upload-file__content__results__labels {
    margin-top: 3rem;
  display: grid;
  padding: 1rem;
  border: 1px solid var(--beige-dark);
  background-color: var(--white);
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}
